:root{
    --bg-:#afcde7;
    --a-: black;
    --ahover-: blue;
}

body{
    margin: 20 auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    box-sizing: border-box;
}
legend{
    font-weight: bold;
    margin-bottom: 20px;
}
form {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    max-width: 500px;
    border-radius: 20px;
    background-color:var(--bg-);
    margin: 10% auto;
}

.cols {
	white-space: nowrap;
}
.text-cols {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.cols .text-cols:first-child {
	margin-right: 4%;
}

input{
    margin-bottom: 20px;
    width: 100%;
    max-width: 210px;
    margin-top: 5px;
    margin-right: 10px;
}
button{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 7px 10px;
    background: #b4b4be;
    color: black;
    border-radius: 7px;
} 
a {
    text-decoration: none;
    color: var(--a-); 
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
}
a:hover {
    color: var(--ahover-);
    background-color: aliceblue;
    border-radius: 20px;
    box-sizing: content-box;
    display: inline-block;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

